cat .gitignore

**/Divers
**/Debug

**/Release/MacOS/*.h
**/Release/MacOS/*.cpp
**/Release/MacOS/*.o
**/Release/release

**/Release/Windows/*.h
**/Release/Windows/*.cpp
**/Release/Windows/*.o
**/Release/release

SV_Game.pro.user
SV_Game.pro.user

Log
.qmake.stash
Makefile
*.Debug
*.Release
*.rc
*.qm
.DS_Store
