cat .gitignore

**/Divers
**/Debug

**/Release/MacOS/**.h
**/Release/MacOS/**.cpp
**/Release/MacOS/**.o
**/Release/MacOS/release

**/Release/Windows/**.h
**/Release/Windows/**.cpp
**/Release/Windows/**.o
**/Release/Windows/release

SV_Game.pro.user
SV_Server.pro.user

TODO.txt
Log.txt
.qmake.stash
Makefile
*.Debug
*.Release
*.rc
*.qm
.DS_Store
